@charset "UTF-8";
* {
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #bca3ce;
}

.navbar {
  background-color: black;
}

.navbar-nav .nav-link {
  color: #bca3ce;
  font-size: 110%;
}

.navbar-toggler {
  background-color: #bca3ce;
}

.navbar-brand {
  margin-right: 1rem;
  width: auto;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-item {
  color: #bca3ce;
}

.dropdown-item:hover {
  background-color: #bca3ce;
  color: black;
}

.btn-outline-success {
  border-color: #bca3ce;
  color: #bca3ce;
}

.btn-outline-success:hover {
  background-color: #bca3ce;
  border-color: #bca3ce;
  color: black;
}

.nav-link:hover {
  background-color: #bca3ce;
  border-color: #bca3ce;
  color: black;
}

.icon {
  width: 30%;
}

#fotoHead {
  width: 100%;
  min-height: fit-content;
}

#imgInicio {
  width: 20rem;
}

button {
  background-color: #82368c;
  border-radius: 5px;
  color: beige;
  padding: 10px;
  font-size: 20px;
}

#inicioItem {
  background-color: beige;
  margin: 5% 25%;
  padding: 5px;
  border-radius: 10px;
}

footer {
  background-color: black;
  text-align: center;
  color: #bca3ce;
}

footer img {
  width: 9%;
  padding: 1% 3%;
}

img.imgQS {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.titulo {
  text-align: center;
  margin: 5px;
}

.parrafoQS {
  margin: 4%;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.imgMezcla {
  text-align: center;
}

.imgAl {
  width: 18em;
}

.iconCont {
  display: inline;
  width: 30px;
  position: relative;
}

form ul li button {
  margin-left: 22%;
}

form ul li {
  list-style: none;
  margin: 2px;
  
}

label {
  /* Tamaño y alineación form*/
  display: inline-block;
  width: 95px;
  text-align: left;
  
}

/*contacto */
.contacto {
  margin-left: 7%;
  padding: 2%;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  margin-left: 9%;
  padding: 2%;
  text-align: left;
}

.item {
  padding: 20px;
  text-align: left;
  margin: 10px;
}

.item-1 {
  grid-column-start: 1; /* inicio en la columna 1 */
  grid-column-end: 2; /* fin en la columna 2 */
}

.item-2 {
  grid-column-start: 2; /* inicio en la columna 2 */
  /* fin en la columna 3 (no existe, pero como solo hay dos columnas, se entiende que termina en la última) */
}

@media (max-width: 768px) {
  .navbar-toggler {
    margin-bottom: 1em;
  }
  #imgInicio {
    width: 14em;
  }
  label{
    display: none;
    width: auto;
    
    

  }
  #inicioItem {
    background-color: beige;
    margin: 5% 12%;
    padding: 5px;
    border-radius: 10px;
  }
  footer img {
    width: 45px;
    padding: 3%;
  }
  .imgAl {
    width: 12em;
  }
  .grid-container {
    grid-template-columns: 1fr; /* Cambiamos a una sola columna */
    grid-template-rows: auto auto;
  }
  label {
    /* Tamaño y alineación form*/
    display: inline-block;
    width: 95%;
    text-align: left;
    
  }
  
}

/*# sourceMappingURL=estilo.css.map */
